<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>  


:javascript
	var hourInfo = {
		usdanBreakfast: [ {days: [1, 5], range: [8, 10.5]} ],
		usdanLunch: [
			{days: 0, range: [11, 14]},
			{days: [1, 5], range: [11, 15]},
			{days: 6, range: [11, 14]}
		],
		usdanDinner: [ {days: [0, 6], range: [17, 20]} ],
		usdanLateNight: [ {days: [0, 6], range: [21.5, 1]} ],
		summerfieldsLunch: [ {days: [1, 5], range: [11, 14]} ],
		summerfieldsDinner: [ {days: [0, 6], range: [17.5, 21]} ],
		weswingsLunch: [ {days: [0, 6], range: [11.5, 14]} ],
		weswingsDinner: [ {days: [0, 6], range: [17.5, 20]} ],
		pi: [
			{days: 0, range: [13, 18]},
			{days: [1, 4], range: [8, 21]},
			{days: 5, range: [8, 17]},
			{days: 6, range: [13, 18]}
		],
		usdanCafe: [ {days: [0, 6], range: [8, 20]} ],
		weshop: [
			{days: 0, range: [12, 0]},
			{days: [1, 4], range: [11.5, 0]},
			{days: [5, 6], range: [14, 18]},
		],
		usdanDFC: [ {days: [1, 5], range: [11.5, 13.5]} ],
		redBlack: [
			{days: 0, range: [9, 17]},
			{days: [1, 5], range: [8, 20]},
			{days: 6, range: [9, 17]}
		]
	};

	var infoKeys = [ 
		["usdanBreakfast", "Usdan Breakfast"],
		["usdanLunch", "Usdan Lunch"],
		["usdanDinner", "Usdan Dinner"],
		["usdanLateNight", "Usdan Late Night"],
		["summerfieldsLunch", "Summerfields Lunch"],
		["summerfieldsDinner", "Summerfields Dinner"],
		["weswingsLunch", "Weswings Lunch"],
		["weswingsDinner", "Weswings Dinner"],
		["pi", "Pi Cafe"],
		["usdanCafe", "Usdan Cafe"],
		["weshop", "Weshop"],
		["usdanDFC", "Usdan DFC"],
		["redBlack", "Red & Black Cafe"]
	];

	var disp = function(hourNum) {
		var am = hourNum < 12,
			half = hourNum % 1 !== 0,
			cut = Math.floor(hourNum),
			reg = cut === 0 ? 12 : cut - (cut > 12 ? 12 : 0);

		return reg + (half ? ":30" : ":00") + (am ? " AM" : " PM");
	};

	$("document").ready( function() {

		var table = $("#new-hours");

		if (!table) return;

		for (var i = 0; i < infoKeys.length; i++) {
			var key = infoKeys[i][0],
				name = infoKeys[i][1],
				row = $("<tr></tr>"),
				hourSets = hourInfo[key],
				x = 0;

			$("<td class='label'>" + name + "</td>").appendTo(row);

			for (var j = 0; j < hourSets.length; j++) {
				var hourSet = hourSets[j],
					cell = $("<td></td>"),
					days = hourSet.days,
					range = hourSet.range;					

				if ($.isArray(days)) {
					cell.attr("colspan", days[1] - days[0] + 1);
					var neededX = days[0];
				} else {
					var neededX = days;
				}

				while (x < neededX) {
					$("<td>X</td>").appendTo(row);
					x = x + 1;
				}
				
				cell.html("<span class='start'>" + disp(range[0]) +
					"</span><span class='end'>" + disp(range[1]) +
					"</span>").appendTo(row);
				x = x + 1 + ($.isArray(days) ? days[1] - days[0] : 0);
			}

			while (x < 7) {
				$("<td>X</td>").appendTo(row);
				x = x + 1;
			}

			row.appendTo(table);
		}
	});
	
	
	
	
	

%style
	:sass
		body
			font-family: Helvetica

		#new-hours
			border-collapse: collapse

			td
				text-align: center
				padding: 6px 15px
				background-color: #ddd
				color: #333
				font-size: 12px
				border-top: 1px solid white
				border-right: 1px dashed white

				span.start, span.end
					display: block

				&.label
					text-align: left
					background-color: #666
					font-size: 14px
					color: white
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
					border-right: 1px solid black

			tr:hover td.label
				background: #aaa

			tr:hover td:hover
				background-color: #888
				color: white

			th
				padding: 6px 15px
				background-color: #444
				color: white
				font-size: 14px

		#hours
			border-collapse: collapse

			td
				text-align: right
				padding: 6px 15px
				background-color: #ddd
				color: #333
				font-size: 12px

				&.label1, &.label2
					text-align: left
					background: #777
					font-size: 16px
					color: white
					font-weight: bold

				&.label2, &.label1.split
					border-right: 1px solid black

			th
				text-align: center
				padding: 6px 15px
				background-color: #444
				color: white
				font-size: 16px

			tr

				&.first_row
					border-top: 1px solid black

				&.second_row
					border-top: 1px solid white



%table#new-hours
	%thead
		%tr
			%th
			%th Sun
			%th Mon
			%th Tue
			%th Wed
			%th Thu
			%th Fri
			%th Sat

	%tbody
				
